---
import Header from "@components/Header.astro";
import { SITE_CONFIG } from "@config";
import Footer from "@components/Footer.astro";

interface Props {
  title?: string;
  description?: string;
  wide?: boolean;
}

const { 
  title: propTitle, 
  description: propDescription, 
  wide = false 
} = Astro.props;

const {
  title: defaultTitle,
  description: defaultDescription,
  siteLogo,
  navLinks,
  lang,
  author,
  socialLinks,
  socialImage,
  canonicalURL = new URL(Astro.url.pathname, Astro.site).href,
} = SITE_CONFIG;

const title = propTitle || defaultTitle;
const description = propDescription || defaultDescription;

const ogImgUrl = canonicalURL + socialImage;
---

<!doctype html>
<html lang={lang} class="scroll-pt-16 scroll-smooth">
  <head>
    <meta charset="UTF-8" />
    <meta name="description" content={description} />
    <meta name="author" content={author} />
    <meta name="viewport" content="width=device-width" />
    <link rel="icon" type="image/svg+xml" href="/favicon.svg" />
    <meta name="generator" content={Astro.generator} />
    <title>{title}</title>

    <meta property="og:title" content={title} />
    <meta property="og:description" content={description} />
    <meta property="og:url" content={canonicalURL} />
    <meta property="og:image" content={ogImgUrl} />

    <meta property="twitter:card" content="summary_large_image" />
    <meta property="twitter:url" content={canonicalURL} />
    <meta property="twitter:title" content={title} />
    <meta property="twitter:description" content={description} />
    <meta property="twitter:image" content={ogImgUrl} />
    <link rel="preconnect" href="https://fonts.googleapis.com" />
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
    <link
      href="https://fonts.googleapis.com/css2?family=Caveat:wght@400..700&family=EB+Garamond:ital,wght@0,400;0,500;0,600;1,400;1,500&family=Playfair+Display:ital,wght@0,400;0,700;0,800;0,900;1,700;1,900&display=swap"
      rel="stylesheet"
    />
  </head>

  <body class="bg-black font-body text-white">
    <Header siteLogo={siteLogo} navLinks={navLinks} />
    <main class={`mx-auto ${wide ? "max-w-5xl" : "max-w-3xl"} px-5`}>
      <slot />
    </main>
    <Footer author={author} socialLinks={socialLinks} />
  </body>
</html>
